<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta http-equiv="refresh" content="300">
    <link rel="apple-touch-icon-precomposed" href="/static/images/favicon.png">
		<link rel="stylesheet" href="/static/css/paper.min.css">
		<script src="/static/js/skycons.js"></script>
		<title>Smines City</title>
	</head>
	<body>
		<div class="paper container">
			<h1 style="text-align:center">Not ready yet!</h1>
			<p>
        Oops! Looks like the application is not ready yet! You need to go back to the 
        <a href="https://github.com/ekingery/How-To-Program-a-Computer/blob/master/README.md">Github repo</a> and read
        the rest of the instructions for setting up the application, particularly the bits about setting up your DarkSky
        API key. Good luck!
      </p>
		</div>
	</body>
</html>
